
:root{

    --primario: #3A6DFF;
    --secundario: #9B6BFF;
    --fondo: #F4F4F8;
    --texto: #222222;
    --blanco: #FFFFFF;
    --tamaño-fuente:15px;
}
html{
    font: size 70.5% ;
    box-sizing: border-box;
}
*,*::before,*:after
{
    box-sizing: inherit;

}
body{
font-size:var(--tamaño-fuente);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 0;
}

.boton:hover {
    background-color: var(--primario);
}
.boton1{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    display: inline-block;
    transition: 0.3s ease;
}
.boton:hover {
    background-color: var(--primario);
}

.icono{
    background-color: var(--secundario);
    height: 5rem;
    width:5rem;
    border-radius:50%;
    display: flex;
    justify-content:center;
    align-items: center;
}

form{
    background-color: rgb(156, 154, 154);
    padding:1rem;
    border-radius:2rem;
    text-align: center;
}